@page "/Customers"
@using Workshop.Shared.Ui.Components.Conditions
@using Workshop.Shared.Ui.Components.Repeaters
@using Workshop.Shared.Ui.Components.Tabs

<PageTitle>Customers</PageTitle>

<h3>@tabName</h3>

<ErrorBoundary>
  <ChildContent>
    <Condition Check="@(tabName == "list")"></Condition>
  </ChildContent>
  <ErrorContent>
    <div class="alert alert-danger" role="alert">
      An error occurred while loading the customers page.
      @context.Message
    </div>
  </ErrorContent>
</ErrorBoundary>

<Condition Check="@(tabName == "reports")">
  <If>
    <div class="alert alert-info" role="alert">
      We have new customer reports!
    </div>
  </If>
</Condition>

<ol>
  <Repeater Items="[1, 2, 3]" ItemType="int" Context="item">
    <li>Nummer: @item</li>
  </Repeater>
</ol>

<Tabs OnActiveTab="OnActiveTab">
  <Items>
    <Repeater Items="TabsFromDatabase">
      <Item Name="@context">Customers @context.ToUpper()</Item>
    </Repeater>
  </Items>
  <Panels>
    <Panel Name="list">
      <h4>Customers List</h4>
      <CustomersList></CustomersList>
    </Panel>
    <Panel Name="add">
      <h4>Add New Customer</h4>
      <p>Create a new customer profile.</p>
    </Panel>
    <Panel Name="reports">
      <h4>Customer Reports</h4>
      <p>Generate and view customer reports.</p>
    </Panel>
  </Panels>
</Tabs>


@code {

  private string? tabName;
  private List<string> TabsFromDatabase => new() { "list", "reports" };

  private void OnActiveTab(string name)
  {
    tabName = name;
  }

}
